@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg: #0a0a0a;
  --text: #fafafa;
  --accent: #8e51ff;
  --muted-fg: #a1a1a1;
  --border: #2e2e2e;
}

body {
  background-color: var(--bg);
  color: var(--text);
}
